<!DOCTYPE html>
<head>
    <title>{{data.application_name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" >
</head>
<body>
    <div class="main" >
        <div class="row">
            <div class="column column-1">&nbsp;</div>
            <a class="column column-1" href="{{url_for('show_recipes')}}">Menu</a>
            <a class="column column-1" href="{{url_for('maintenance')}}">Maintenace</a>
        </div>
        <div class="row">
            <div class="column column-1"></div>
            <div class="column column-10 view-title">{{data.view_name}}</div>
        </div>
        {% block body %}{% endblock %}
    </div>
</body>
